{% comment %}
  Renders an inline expanding search bar within the header menu row.

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<div class="header__search" data-header-search>
  <button
    type="button"
    class="header__icon header__icon--search link focus-inset"
    aria-label="{{ 'general.search.search' | t }}"
    data-search-toggle
  >
    <span class="svg-wrapper">
      {{- 'icon-search.svg' | inline_asset_content -}}
    </span>
  </button>

  <div class="header__search-bar" data-search-bar>
    {%- if settings.predictive_search_enabled -%}
      <predictive-search class="header__search-bar-form" data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- endif -%}
    <form action="{{ routes.search_url }}" method="get" role="search" class="header__search-bar-form">
      <div class="header__search-bar-inner">
        <span class="header__search-bar-icon svg-wrapper">
          {{- 'icon-search.svg' | inline_asset_content -}}
        </span>
        <input
          class="header__search-bar-input"
          id="{{ input_id }}"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.search' | t }}"
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results-{{ input_id }}"
            aria-controls="predictive-search-results-{{ input_id }}"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <input type="hidden" name="options[prefix]" value="last">
        <button
          type="button"
          class="header__search-bar-close"
          aria-label="{{ 'accessibility.close' | t }}"
          data-search-close
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>

      {%- if settings.predictive_search_enabled -%}
        <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search id="predictive-search-results-{{ input_id }}">
          {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
        </div>
        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
      {%- endif -%}
    </form>
    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- endif -%}
  </div>
</div>
