<div class="kv-cart-upsell">
    {% if settings.cart_product_upsell_heading != blank %}
        <h4>{{ settings.cart_product_upsell_heading }}</h4>
    {% endif %}
    <div class="kv-cart-upsell-slider-outer">
        <div class="swiper kv-cart-upsell-slider">
            <div class="swiper-wrapper">
                {% if settings.cart_product_upsell != blank %}
                    {% for upsell_product in settings.cart_product_upsell %}
                        <div class="swiper-slide">
                            <div class="kv-cart-upsell-item">
                                {% if upsell_product.featured_image %}
                                    <a href="{{ upsell_product.url }}" class="kv-cart-upsell-item__image-link">
                                        <img
                                            class="kv-cart-upsell-item__image"
                                            src="{{ upsell_product.featured_image | image_url: width: 500 }}"
                                            alt="{{ upsell_product.featured_image.alt | default: upsell_product.title | escape }}"
                                            loading="lazy"
                                            width="250"
                                            height="{{ 250 | divided_by: upsell_product.featured_image.aspect_ratio | ceil }}"
                                        >
                                    </a>
                                {% endif %}

                                <div class="kv-cart-upsell-item__content">
                                    <a href="{{ upsell_product.url }}" class="kv-cart-upsell-item__title">
                                        {{ upsell_product.title | escape }}
                                    </a>
                                    <div class="kv-cart-upsell-item__price">
                                        {{ upsell_product.price | money }}
                                    </div>
                                    {% assign upsell_description = upsell_product.metafields.custom.cart_line_item_description %}
                                    {% if upsell_description != blank %}
                                        <div class="kv-cart-upsell-item__description">
                                            {{ upsell_description | metafield_tag }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>

            <!-- Progress bar -->
            <div class="swiper-pagination"></div>
            </div>

    </div>
</div>

<script>
const swiper = new Swiper(".kv-cart-upsell-slider", {
  slidesPerView: 1.5,
  spaceBetween: 12,
  loop: false,

  pagination: {
    el: ".swiper-pagination",
    type: "progressbar",
  },

  breakpoints: {
    768: {
      slidesPerView: 1.5
    },
    1024: {
      slidesPerView: 1.5
    }
  }
});
</script>