
<section class="kv-collection-banner">
    <div class="kv-custom-container">
        <div class="kv-collection-banner-content kv-section-head">
            <span>{{ section.settings.subtitle }}</span>
            <h2 class="kv-font-42">{{ section.settings.title }}</h2>
            <p class="kv-font-18">{{ section.settings.description }}</p>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "KV Collection Banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Background Image Mobile"
      },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "A great subtitle!"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Collection Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "A short collection description goes here."
    }
  ],
  "presets": [
    {
      "name": "KV Collection Banner",
      "category": "Banners"
    }
  ]
}
{% endschema %}


<style>
    .kv-collection-banner {
        background-image: url({{ section.settings.background_image | img_url: 'master' }});
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .kv-collection-banner-content.kv-section-head {
    text-align: left;
    display: unset;
    padding: unset;
}

.kv-collection-banner {
    padding: 110px 0px;
}

.kv-collection-banner-content.kv-section-head .kv-font-42 {
    text-align: left;
    margin: 20px 0 8px 0;
    line-height: 1.2;
}

.kv-collection-banner-content.kv-section-head .kv-font-18 {
    text-align: left;
    font-size: 16px;
}

.kv-collection-banner-content.kv-section-head span {
    padding-left: 0;
}



@media (max-width: 768px) {
    .kv-collection-banner {
        background-image: url({{ section.settings.image_mobile | img_url: 'master' }});
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
</style>