<section class="kv-section kv-default-heading-with-content" style="padding-bottom:{{ section.settings.padding }}">
  <div class="kv-custom-container">
    <div class="kv-default-heading-with-content-in" >
      {% if section.settings.heading != blank %}
        <h4 class="kv-font-38">{{ section.settings.heading }}</h4>
      {% endif %}

      <div style="background:{{ section.settings.bg_color }};" class="kv-default-heading-with-content-grid{% if section.settings.enable_second_content %} kv-default-heading-with-content-grid--two{% endif %}">
        {% if section.settings.content != blank %}
          <div class="kv-default-heading-with-content-info">
            {{ section.settings.content }}
          </div>
        {% endif %}

        {% if section.settings.enable_second_content and section.settings.content_2 != blank %}
          <div class="kv-default-heading-with-content-info">
            {{ section.settings.content_2 }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<style>
.kv-default-heading-with-content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.kv-default-heading-with-content-grid--two {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 28px;
}
.kv-default-heading-with-content .kv-custom-container {
    max-width: 840px;
}
.kv-default-heading-with-content .kv-font-38 {
    margin: 0 0px 42px 0px;
}
.kv-default-heading-with-content-info p {
    color: rgba(31, 31, 31, 0.90);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.kv-default-heading-with-content-info p strong{
    font-weight: 600;
}
.kv-default-heading-with-content-grid.kv-default-heading-with-content-grid--two {
    border-radius: 20px;
    padding: 32px;
    display: flex;
    gap: 16px;
}
.kv-default-heading-with-content-grid.kv-default-heading-with-content-grid--two h4 {
    color: #1F1F1F;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 16px;
}
.kv-default-heading-with-content-grid.kv-default-heading-with-content-grid--two h4:first-child {
    margin-top: 0;
}
.kv-default-heading-with-content-grid.kv-default-heading-with-content-grid--two .kv-default-heading-with-content-info {
    flex: 1;
}

@media (max-width: 767.98px) {
.kv-default-heading-with-content-grid--two {
    grid-template-columns: 1fr;
    gap: 18px;
}
  
.kv-default-heading-with-content-info p {
    font-size: 16px;
}
.kv-default-heading-with-content-grid.kv-default-heading-with-content-grid--two {
    padding: 20px 16px;
}
.kv-default-heading-with-content-grid.kv-default-heading-with-content-grid--two h4 {
    font-size: 18px;
}
.kv-default-heading-with-content-info p {
    font-size: 16px;
}
}
</style>
{% schema %}
{
  "name": "KV Heading With Content",
  "settings": [
    {
      "type": "text",
      "id": "padding",
      "label": "Section Bottom Padding"
    },
   {
      "type": "color",
      "id": "bg_color",
      "label": "BG Color",
      "default": "#F0F8FF"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
    },
    {
      "type": "checkbox",
      "id": "enable_second_content",
      "label": "Enable second rich text",
      "default": false
    },
    {
      "type": "richtext",
      "id": "content_2",
      "label": "Content 2"
    },
  ],
  "presets": [
    {
      "name": "KV Heading With Content",
    }
  ]
}
{% endschema %}
