<section class="kv-section kv-pdp-hightlight-carousel-section" style="background-color: {{ section.settings.background_color }};">
    <div class="kv-custom-container">
        <div class="kv-pdp-hightlight-carousel-header">
            <h2 class="kv-font-42">{{ section.settings.title }}</h2>
            <p class="kv-font-18">{{ section.settings.description }}</p>
        </div>
        <div class="swiper kv-pdp-hightlight-carousel-swiper">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    <div class="swiper-slide">
                        <div class="kv-pdp-hightlight-carousel-item">
                            <div class="kv-pdp-hightlight-carousel-item-image">
                                <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                            </div>
                            <div class="kv-pdp-hightlight-carousel-item-content">
                                <h3 class="kv-pdp-hightlight-carousel-item-title">{{ block.settings.title }}</h3>
                                <p class="kv-pdp-hightlight-carousel-item-description">{{ block.settings.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="kv-pdp-hightlight-carousel-progressbar-wrap">
                <div class="swiper-pagination kv-pdp-hightlight-carousel-progressbar"></div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Swiper('.kv-pdp-hightlight-carousel-swiper', {
            slidesPerView: 2.8,
            spaceBetween: 16,
            grabCursor: true,
            // loop: true,
            pagination: {
                el: '.kv-pdp-hightlight-carousel-progressbar',
                type: 'progressbar',
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                    spaceBetween: 12,
                },
                380: {
                    slidesPerView: 1.15,
                    spaceBetween: 12,
                },
                479: {
                    slidesPerView: 1.5,
                    spaceBetween: 12,
                },
                639: {
                    slidesPerView: 2,
                    spaceBetween: 12,
                },
                768: {
                    slidesPerView: 2.5,
                    spaceBetween: 16,
                },
                992: {
                    slidesPerView: 2.8,
                    spaceBetween: 16,
                },
            },
        });
    });
</script>

{% schema %}
{
  "name": "KV PDP Highlight Carousel",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Section Title",
      "default": "Your Section Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Section Description",
      "default": "Your section description."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#f5f5f5"
    }
  ],
  "blocks": [
    {
      "type": "highlight_item",
      "name": "Highlight Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Highlight Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Highlight Title",
          "default": "Highlight Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Highlight Description",
          "default": "Highlight description."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "KV PDP Highlight Carousel"
    }
  ]
}
{% endschema %}


<style>
.kv-pdp-hightlight-carousel-swiper {
    overflow: visible;
}

.kv-pdp-hightlight-carousel-section{
    overflow: hidden;
}

.kv-pdp-hightlight-carousel-header {
    padding: 0 0 64px 0;
}

.kv-pdp-hightlight-carousel-item {
    position: relative;
    border-radius: 18px;
    border: 1px solid #FFF;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.kv-pdp-hightlight-carousel-item-image {
    display: flex;
    height: 100%;
}

.kv-pdp-hightlight-carousel-item-image img {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.kv-pdp-hightlight-carousel-item-content {
    position: absolute;
    border-radius: 16px;
    background: rgba(41, 41, 41, 0.48);
    backdrop-filter: blur(2px);
    padding: 8px 12px;
    z-index: 1;
    left: 12px;
    bottom: 12px;
    right: 12px;
}

.kv-pdp-hightlight-carousel-item-title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.kv-pdp-hightlight-carousel-item-description {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.kv-pdp-hightlight-carousel-progressbar-wrap {
    margin-top: 64px;
    position: relative;
    height: 3px;
    overflow: hidden;
    border-radius: 16px;
    background: rgba(204, 204, 204, 0.40);
}

.kv-pdp-hightlight-carousel-progressbar-wrap .swiper-pagination-progressbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.kv-pdp-hightlight-carousel-progressbar-wrap .swiper-pagination-progressbar-fill {
    border-radius: 16px;
    background: #003665;
}

@media (max-width: 991.98px) {
    .swiper.kv-pdp-hightlight-carousel-swiper {
        margin: 0 -20px;
        padding: 0 20px;
    }
}

@media (max-width: 767.98px) {
    .kv-pdp-hightlight-carousel-header {
        padding: 0 0 36px 0;
    }

    .kv-pdp-hightlight-carousel-progressbar-wrap {
        margin-top: 36px;
    }
}
</style>