<div class="kv-section kv-features-grid-section">
    <div class="kv-custom-container">
        <div class="kv-features-grid-header">
            <h2 class="kv-font-42">{{ section.settings.title }}</h2>
            <p class="kv-font-18">{{ section.settings.description }}</p>
        </div>
        <div class="kv-features-grid-grid">
            {% for block in section.blocks %}
                <div class="kv-features-grid-item">
                    <div class="kv-features-grid-item-image">
                        <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                    </div>
                    <div class="kv-features-grid-item-content">
                        <span class="kv-features-grid-item-title">{{ block.settings.title }}</span>
                        <span class="kv-features-grid-item-description">{{ block.settings.description }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "KV PDP Features Grid",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Section Title",
      "default": "Your Section Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Section Description",
      "default": "Your section description."
    }
  ],
  "blocks": [
    {
      "type": "feature_item",
      "name": "Feature Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Feature Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Feature Title",
          "default": "Feature Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Feature Description",
          "default": "Feature description."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "KV PDP Features Grid"
    }
  ]
}
{% endschema %}