{{ 'lp-home-chemical-free-steam-one.css' | asset_url | stylesheet_tag }}

<section
  class="lp-product-image-frame"
  id="lp-section-{{ section.id }}"
  style="--bg-image-desktop: url('{{ section.settings.background_image_desktop | image_url: width: 2000 }}'); --bg-image-mobile: url('{{ section.settings.background_image_mobile | image_url: width: 1000 }}');">
  <div class="lp-product-image-frame__container">
    <div class="lp-product-info-container">
      {% if section.settings.rating_text != blank %}
        <div class="lp-reviews-badge">
          <span class="lp-reviews-badge__star">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <path d="M3.06897 15.1435C2.89061 15.0074 2.78266 14.8267 2.74512 14.6014C2.70757 14.3808 2.73808 14.125 2.83664 13.834L4.2658 9.58878L0.618969 6.97686C0.365521 6.79381 0.187168 6.60373 0.0839118 6.4066C-0.0146513 6.20478 -0.026385 5.99592 0.0487107 5.78002C0.119113 5.56881 0.252877 5.41158 0.450003 5.30833C0.64713 5.20507 0.900577 5.15579 1.21035 5.16048L5.68793 5.18864L7.04669 0.915229C7.14056 0.619539 7.26728 0.394252 7.42686 0.239368C7.58644 0.0797892 7.77653 0 7.99712 0C8.22241 0 8.41484 0.0797892 8.57442 0.239368C8.734 0.394252 8.86072 0.619539 8.95459 0.915229L10.3134 5.18864L14.7839 5.16048C15.0984 5.15579 15.3542 5.20507 15.5513 5.30833C15.7484 5.41158 15.8822 5.56881 15.9526 5.78002C16.0277 5.99592 16.0136 6.20478 15.9103 6.4066C15.8118 6.60373 15.6358 6.79381 15.3823 6.97686L11.7355 9.58878L13.1646 13.834C13.2632 14.125 13.2937 14.3808 13.2562 14.6014C13.2186 14.8267 13.1107 15.0074 12.9323 15.1435C12.7493 15.2796 12.5451 15.3289 12.3198 15.2914C12.0992 15.2538 11.8645 15.1435 11.6158 14.9605L7.99712 12.3063L4.38549 14.9605C4.13673 15.1435 3.89971 15.2538 3.67442 15.2914C3.45383 15.3289 3.25201 15.2796 3.06897 15.1435Z" fill="white" />
            </svg>
          </span>
          <span class="lp-reviews-badge__text">{{ section.settings.rating_text }}</span>
        </div>
      {% endif %}

      <div class="lp-feature-content">
        {% if section.settings.title != blank %}
          <h2 class="lp-feature-title">{{ section.settings.title }}<span class="lp-feature-title-sp">{{ section.settings.title2 }}</span>
          </h2>
        {% endif %}
        {% if section.settings.description != blank %}
          <p class="lp-product-description">{{ section.settings.description }}</p>
        {% endif %}
      </div>

      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="lp-atc-button">
          {{ section.settings.button_label }}
        </a>
      {% endif %}

      <div class="lp-product-features">
        {% for block in section.blocks %}
          <div class="lp-feature-item" {{ block.shopify_attributes }}>
            <div class="lp-feature-item__icon">
              {% if block.settings.icon == 'money' %}
                <svg
                  width="17"
                  height="17"
                  viewBox="0 0 17 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.5 2.10938V14.7656M5.34375 4.57031H10.2656C11.6429 4.57031 12.7266 5.46016 12.7266 6.55469C12.7266 7.64921 11.6429 8.53906 10.2656 8.53906H6.73438C5.35706 8.53906 4.27344 9.42891 4.27344 10.5234C4.27344 11.618 5.35706 12.5078 6.73438 12.5078H11.6562"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              {% else %}
                <svg
                  width="17"
                  height="17"
                  viewBox="0 0 17 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3 10L14 10M14 10L11 7M14 10L11 13"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M3 10V6"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              {% endif %}
            </div>
            <span class="lp-feature-item__text">{{ block.settings.text }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Hero Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image_desktop",
        "label": "Background Image - Desktop"
      },
      {
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "Background Image - Mobile"
      },
      {
        "type": "text",
        "id": "rating_text",
        "label": "Rating Text",
        "default": "4.5/5 (1,450+ Reviews)"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "default": "Chemical-free steam."
      }, {
        "type": "textarea",
        "id": "title2",
        "label": "Special Title line",
        "default": "One-pass deep clean."
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "With the 1500W powerful steam, you can clean deeply and safely, without scrubbing or harsh chemicals."
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Shop Now"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "limit": 2,
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "money",
                "label": "Money Bag"
              }, {
                "value": "return",
                "label": "Return Arrow"
              }
            ],
            "default": "money"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Hero Image",
        "blocks": [
          {
            "type": "feature",
            "settings": {
              "icon": "money",
              "text": "100% Money-Back Guarantee"
            }
          }, {
            "type": "feature",
            "settings": {
              "icon": "return",
              "text": "Free Shipping and Returns"
            }
          }
        ]
      }
    ]
  }
{% endschema %}