{{ 'lp-home-chemical-free-steam-one.css' | asset_url | stylesheet_tag }}

<section
  class="lp-product-image-frame"
  id="lp-section-{{ section.id }}"
  style="--bg-image-desktop: url('{{ section.settings.background_image_desktop | image_url: width: 2000 }}'); --bg-image-mobile: url('{{ section.settings.background_image_mobile | image_url: width: 1000 }}');">
  <div class="kv-custom-container"> 
    <div class="lp-product-info-container">
      {% if section.settings.rating_text != blank %}
        <div class="lp-reviews-badge">
          <span class="lp-reviews-badge__star">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none">
              <path d="M3.06897 15.1435C2.89061 15.0074 2.78266 14.8267 2.74512 14.6014C2.70757 14.3808 2.73808 14.125 2.83664 13.834L4.2658 9.58878L0.618969 6.97686C0.365521 6.79381 0.187168 6.60373 0.0839118 6.4066C-0.0146513 6.20478 -0.026385 5.99592 0.0487107 5.78002C0.119113 5.56881 0.252877 5.41158 0.450003 5.30833C0.64713 5.20507 0.900577 5.15579 1.21035 5.16048L5.68793 5.18864L7.04669 0.915229C7.14056 0.619539 7.26728 0.394252 7.42686 0.239368C7.58644 0.0797892 7.77653 0 7.99712 0C8.22241 0 8.41484 0.0797892 8.57442 0.239368C8.734 0.394252 8.86072 0.619539 8.95459 0.915229L10.3134 5.18864L14.7839 5.16048C15.0984 5.15579 15.3542 5.20507 15.5513 5.30833C15.7484 5.41158 15.8822 5.56881 15.9526 5.78002C16.0277 5.99592 16.0136 6.20478 15.9103 6.4066C15.8118 6.60373 15.6358 6.79381 15.3823 6.97686L11.7355 9.58878L13.1646 13.834C13.2632 14.125 13.2937 14.3808 13.2562 14.6014C13.2186 14.8267 13.1107 15.0074 12.9323 15.1435C12.7493 15.2796 12.5451 15.3289 12.3198 15.2914C12.0992 15.2538 11.8645 15.1435 11.6158 14.9605L7.99712 12.3063L4.38549 14.9605C4.13673 15.1435 3.89971 15.2538 3.67442 15.2914C3.45383 15.3289 3.25201 15.2796 3.06897 15.1435Z" fill="white" />
            </svg>
          </span>
          <span class="lp-reviews-badge__text">{{ section.settings.rating_text }}</span>
        </div>
      {% endif %}

      <div class="lp-feature-content">
        {% if section.settings.title != blank %}
          <h2 class="lp-feature-title">{{ section.settings.title }}<br><span class="lp-feature-title-sp">{{ section.settings.title2 }}</span>
          </h2>

        {% endif %}
        {% if section.settings.description != blank %}
          <p class="lp-product-description">{{ section.settings.description }}</p>
        {% endif %}
      </div>

      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="lp-atc-button">
          {{ section.settings.button_label }}
        </a>
      {% endif %}

      <div class="lp-product-features">
        {% for block in section.blocks %}
          <div class="lp-feature-item" {{ block.shopify_attributes }}>
            <div class="lp-feature-item__icon">
              {% if block.settings.icon == 'money' %}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="17"
                  height="17"
                  viewBox="0 0 17 17"
                  fill="none">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.1183 8.67193C10.0214 8.39769 9.84182 8.16026 9.60432 7.99234C9.36682 7.82441 9.0831 7.73427 8.79224 7.73431V7.38275H8.08911V7.73431C7.71615 7.73431 7.35847 7.88247 7.09474 8.1462C6.83102 8.40992 6.68286 8.7676 6.68286 9.14056C6.68286 9.51352 6.83102 9.87121 7.09474 10.1349C7.35847 10.3987 7.71615 10.5468 8.08911 10.5468V11.9531C7.78325 11.9531 7.52274 11.7579 7.42571 11.4844C7.41132 11.4397 7.38809 11.3983 7.35741 11.3627C7.32674 11.327 7.28923 11.2979 7.24711 11.2771C7.20498 11.2562 7.1591 11.244 7.11218 11.2412C7.06526 11.2383 7.01825 11.245 6.97393 11.2606C6.9296 11.2763 6.88887 11.3007 6.85414 11.3323C6.81941 11.364 6.79138 11.4023 6.77172 11.445C6.75205 11.4877 6.74115 11.5339 6.73966 11.5809C6.73816 11.6279 6.74611 11.6747 6.76302 11.7186C6.85995 11.9928 7.03953 12.2302 7.27703 12.3982C7.51452 12.5661 7.79825 12.6562 8.08911 12.6562V13.0078H8.79224V12.6562C9.1652 12.6562 9.52288 12.508 9.7866 12.2443C10.0503 11.9806 10.1985 11.6229 10.1985 11.2499C10.1985 10.877 10.0503 10.5193 9.7866 10.2556C9.52288 9.99185 9.1652 9.84369 8.79224 9.84369V8.43744C8.93765 8.4374 9.07949 8.48245 9.19824 8.56638C9.31698 8.65031 9.40679 8.76899 9.45528 8.90607C9.48633 8.994 9.55104 9.06599 9.63517 9.1062C9.67682 9.12612 9.72199 9.13763 9.7681 9.14009C9.8142 9.14255 9.86034 9.1359 9.90388 9.12053C9.94741 9.10515 9.98749 9.08135 10.0218 9.05049C10.0562 9.01962 10.0841 8.9823 10.104 8.94064C10.1239 8.89899 10.1354 8.85382 10.1379 8.80771C10.1404 8.76161 10.1337 8.71547 10.1183 8.67193ZM8.08911 8.43744C7.90263 8.43744 7.72379 8.51152 7.59193 8.64338C7.46007 8.77524 7.38599 8.95408 7.38599 9.14056C7.38599 9.32704 7.46007 9.50589 7.59193 9.63775C7.72379 9.76961 7.90263 9.84369 8.08911 9.84369V8.43744ZM8.79224 11.9531C8.97872 11.9531 9.15756 11.879 9.28942 11.7471C9.42128 11.6153 9.49536 11.4364 9.49536 11.2499C9.49536 11.0635 9.42128 10.8846 9.28942 10.7528C9.15756 10.6209 8.97872 10.5468 8.79224 10.5468V11.9531Z"
                    fill="white" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.6269 3.03076C5.48964 2.60853 6.90503 2.10931 8.45401 2.10931C9.97065 2.10931 11.3488 2.58779 12.2069 3.00439L12.2555 3.02795C12.5142 3.15592 12.723 3.27685 12.87 3.37494L11.5713 5.27338C14.5652 8.33408 16.8778 14.7645 8.45401 14.7645C0.0302227 14.7645 2.28057 8.4508 5.3005 5.27338L4.01026 3.37494C4.10975 3.3099 4.23596 3.23431 4.38643 3.15416C4.46096 3.11408 4.54112 3.07271 4.6269 3.03076ZM10.7367 5.24842L11.7763 3.72861C10.8095 3.79822 9.65917 4.02533 8.55175 4.34595C7.76073 4.57447 6.88182 4.53967 6.06796 4.38955C5.86286 4.35157 5.65917 4.30631 5.45729 4.25385L6.13229 5.24771C7.57897 5.76275 9.28968 5.76275 10.7367 5.24842ZM5.72624 5.84642C7.41901 6.50033 9.4535 6.50033 11.1463 5.84572C11.8527 6.59072 12.4438 7.43715 12.8999 8.35693C13.3752 9.32654 13.6339 10.2958 13.5917 11.1311C13.551 11.9372 13.2339 12.626 12.5096 13.1378C11.7548 13.6711 10.4853 14.0614 8.45366 14.0614C6.41987 14.0614 5.1444 13.6778 4.38257 13.1505C3.65307 12.6453 3.3328 11.9657 3.28745 11.1705C3.23999 10.3443 3.49311 9.37998 3.96667 8.40369C4.41843 7.47275 5.04878 6.57662 5.72624 5.84642ZM5.32194 3.48603C5.60319 3.5697 5.8971 3.64248 6.19522 3.69767C6.95108 3.83689 7.70905 3.85728 8.35593 3.6699C9.10973 3.45021 9.87644 3.2775 10.6516 3.15275C10.0048 2.95799 9.24819 2.81244 8.45366 2.81244C7.24253 2.81244 6.11296 3.15029 5.32194 3.48603Z"
                    fill="white" />
                </svg>
              {% else %}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="17"
                  height="17"
                  viewBox="0 0 17 17"
                  fill="none">
                  <path
                    d="M13.1824 11.6016L15.2917 9.49225L13.1824 7.38287"
                    stroke="white"
                    stroke-width="1.05469"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M14.7656 9.49219H5.07568C3.13901 9.49219 1.58203 7.86632 1.58203 5.93262V5.27344"
                    stroke="white"
                    stroke-width="0.8125"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              {% endif %}
            </div>
            <span class="lp-feature-item__text">{{ block.settings.text }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Hero Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image_desktop",
        "label": "Background Image - Desktop"
      },
      {
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "Background Image - Mobile"
      },
      {
        "type": "text",
        "id": "rating_text",
        "label": "Rating Text",
        "default": "4.5/5 (1,450+ Reviews)"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "default": "Chemical-free steam."
      }, {
        "type": "textarea",
        "id": "title2",
        "label": "Special Title line",
        "default": "One-pass deep clean."
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "With the 1500W powerful steam, you can clean deeply and safely, without scrubbing or harsh chemicals."
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Shop Now"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "limit": 2,
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "money",
                "label": "Money Bag"
              }, {
                "value": "return",
                "label": "Return Arrow"
              }
            ],
            "default": "money"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "KV Hero Banner",
        "blocks": [
          {
            "type": "feature",
            "settings": {
              "icon": "money",
              "text": "100% Money-Back Guarantee"
            }
          }, {
            "type": "feature",
            "settings": {
              "icon": "return",
              "text": "Free Shipping and Returns"
            }
          }
        ]
      }
    ]
  }
{% endschema %}