{{ 'lp-home-join-happier-homes.css' | asset_url | stylesheet_tag }}

<section class="kv-section lp-happier-homes" id="lp-section-{{ section.id }}">
  <div class="kv-custom-container">
    <div class="kv-section-head">
        {% if section.settings.sub_header != blank %}
          <span>
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none">
          <path d="M2.68535 13.2506C2.52929 13.1315 2.43483 12.9734 2.40198 12.7762C2.36912 12.5832 2.39582 12.3594 2.48206 12.1048L3.73258 8.39018L0.541598 6.10475C0.319831 5.94459 0.163772 5.77826 0.0734229 5.60578C-0.0128199 5.42918 -0.0230868 5.24643 0.0426219 5.05752C0.104224 4.87271 0.221268 4.73514 0.393753 4.64479C0.566238 4.55444 0.788005 4.51131 1.05905 4.51542L4.97694 4.54006L6.16585 0.800825C6.24799 0.542097 6.35887 0.344971 6.49851 0.209447C6.63814 0.0698155 6.80446 0 6.99748 0C7.19461 0 7.36299 0.0698155 7.50262 0.209447C7.64225 0.344971 7.75313 0.542097 7.83527 0.800825L9.02419 4.54006L12.9359 4.51542C13.2111 4.51131 13.4349 4.55444 13.6074 4.64479C13.7799 4.73514 13.8969 4.87271 13.9585 5.05752C14.0242 5.24643 14.0119 5.42918 13.9215 5.60578C13.8353 5.77826 13.6813 5.94459 13.4595 6.10475L10.2685 8.39018L11.5191 12.1048C11.6053 12.3594 11.632 12.5832 11.5991 12.7762C11.5663 12.9734 11.4718 13.1315 11.3158 13.2506C11.1556 13.3697 10.977 13.4128 10.7798 13.3799C10.5868 13.3471 10.3815 13.2506 10.1638 13.0904L6.99748 10.768L3.8373 13.0904C3.61964 13.2506 3.41225 13.3471 3.21512 13.3799C3.0221 13.4128 2.84551 13.3697 2.68535 13.2506Z" fill="#E88400" />
        </svg>
        {{ section.settings.reviews_text }}</span> 
        {% endif %}   
        <h2 class="kv-font-38">{{ section.settings.title }}</h2>
    </div>



    <div class="lp-happier-homes__carousel-wrapper">
      <div class="swiper lp-happier-homes__swiper" data-happier-homes-swiper="{{ section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide lp-happier-homes__slide" {{ block.shopify_attributes }}>
              <div class="lp-happier-homes__card">
                <div class="lp-happier-homes__card-image-wrapper">
                  {% if block.settings.product_image != blank %}
                    {{ block.settings.product_image | image_url: width: master | image_tag: class: 'lp-happier-homes__card-image', loading: 'lazy' }}
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'lp-happier-homes__card-image' }}
                  {% endif %}
                </div>

                <div class="lp-happier-homes__card-content">
                  <div class="lp-happier-homes__card-stars">
                    {% for i in (1..5) %}
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none">
                        <path d="M2.30172 11.3576C2.16796 11.2556 2.087 11.12 2.05884 10.9511C2.03068 10.7856 2.05356 10.5938 2.12748 10.3755L3.19935 7.19159L0.464227 5.23264C0.274141 5.09536 0.140376 4.9528 0.0629339 4.80495C-0.0109885 4.65359 -0.0197887 4.49694 0.036533 4.33502C0.0893347 4.17661 0.189658 4.05869 0.337503 3.98125C0.485347 3.9038 0.675433 3.86684 0.90776 3.87036L4.26595 3.89148L5.28502 0.686422C5.35542 0.464655 5.45046 0.295689 5.57015 0.179526C5.68983 0.0598419 5.8324 0 5.99784 0C6.16681 0 6.31113 0.0598419 6.43081 0.179526C6.5505 0.295689 6.64554 0.464655 6.71594 0.686422L7.73502 3.89148L11.0879 3.87036C11.3238 3.86684 11.5156 3.9038 11.6635 3.98125C11.8113 4.05869 11.9116 4.17661 11.9644 4.33502C12.0208 4.49694 12.0102 4.65359 11.9327 4.80495C11.8588 4.9528 11.7268 5.09536 11.5367 5.23264L8.80161 7.19159L9.87348 10.3755C9.9474 10.5938 9.97029 10.7856 9.94213 10.9511C9.91396 11.12 9.833 11.2556 9.69924 11.3576C9.56195 11.4597 9.40883 11.4967 9.23986 11.4685C9.07442 11.4404 8.89841 11.3576 8.71185 11.2204L5.99784 9.22973L3.28912 11.2204C3.10255 11.3576 2.92478 11.4404 2.75582 11.4685C2.59037 11.4967 2.43901 11.4597 2.30172 11.3576Z" fill="#FD9308" />
                      </svg>
                    {% endfor %}
                  </div>
                  <h3 class="lp-happier-homes__card-title">{{ block.settings.review_title }}</h3>
                  <p class="lp-happier-homes__card-desc">{{ block.settings.review_desc }}</p>
                </div>

                <div class="lp-happier-homes__card-footer">
                  <div class="lp-happier-homes__reviewer-avatar">
                    {% if block.settings.reviewer_avatar != blank %}
                      {{ block.settings.reviewer_avatar | image_url: width: 48 | image_tag: class: 'lp-happier-homes__avatar-img', loading: 'lazy' }}
                    {% else %}
                      <div class="lp-happier-homes__avatar-placeholder"></div>
                    {% endif %}
                  </div>
                  <div class="lp-happier-homes__reviewer-name-wrap">
                    <span class="lp-happier-homes__reviewer-name">~ {{ block.settings.reviewer_name }}</span>
                    <div class="lp-happier-homes__flag">
                      {% if block.settings.reviewer_country_img %}
                        <img 
                          src="{{ block.settings.reviewer_country_img | image_url: width: master }}" 
                          alt="Reviewer Country"
                        >
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="lp-happier-homes__scrollbar">
        <div class="lp-happier-homes__scrollbar-fill" data-scrollbar-fill="{{ section.id }}" style="display: block;"></div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "KV Testimonials",
    "settings": [
      {
        "type": "text",
        "id": "reviews_text",
        "label": "Reviews Summary",
        "default": "4.5/5 (1,450+ Reviews)"
      }, {
        "type": "inline_richtext",
        "id": "title",
        "label": "Heading",
        "default": "Join 2,000+ happier homes"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Product Image"
          },
          {
            "type": "text",
            "id": "review_title",
            "label": "Review Title",
            "default": "Best on the market"
          },
          {
            "type": "textarea",
            "id": "review_desc",
            "label": "Review Description",
            "default": "I love this product because the support is great. I love this product because the support is great."
          },
          {
            "type": "text",
            "id": "reviewer_name",
            "label": "Reviewer Name",
            "default": "Margreet"
          }, {
            "type": "image_picker",
            "id": "reviewer_avatar",
            "label": "Reviewer Avatar"
          },
          {
            "type": "image_picker",
            "id": "reviewer_country_img",
            "label": "Reviewer Country img"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "KV Testimonials",
        "blocks": [
          {
            "type": "testimonial",
            "settings": {
              "reviewer_name": "Margreet"
            }
          }, {
            "type": "testimonial",
            "settings": {
              "reviewer_name": "Margreet"
            }
          }, {
            "type": "testimonial",
            "settings": {
              "reviewer_name": "Margreet"
            }
          }, {
            "type": "testimonial",
            "settings": {
              "reviewer_name": "Margreet"
            }
          }
        ]
      }
    ]
  }
{% endschema %}