{{ 'lp-home-sold-in-total.css' | asset_url | stylesheet_tag }}

<section class="kv-section lp-best-sellers" id="lp-best-sellers-{{ section.id }}">
  <div class="lp-best-sellers__header-wrap">
    <div class="lp-best-sellers__container">
      <div class="lp-best-sellers__header-wrapper">
        <div class="lp-best-sellers__header">
          <div class="lp-best-sellers__badge-row">
            <div class="gradient-span3">
              <span class="lp-best-sellers__badge-text">{{ section.settings.sub_header }}</span>
            </div>
          </div>
          <h2 class="lp-best-sellers__title">{{ section.settings.title }}</h2>
        </div>
        <div class="lp-best-sellers__nav">
          <button class="lp-best-sellers__nav-btn lp-best-sellers__nav-btn--prev" aria-label="Previous">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
            <path d="M6.42864 0.714233L0.847363 6.29555C0.67002 6.47286 0.67002 6.76033 0.847363 6.93764L6.42864 12.519" stroke="#003665" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          </button>
          <button class="lp-best-sellers__nav-btn lp-best-sellers__nav-btn--next" aria-label="Next">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
            <path d="M0.714424 0.714233L6.2957 6.29555C6.47305 6.47286 6.47305 6.76033 6.2957 6.93764L0.714424 12.519" stroke="#003665" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="lp-best-sellers__slider-area">
    <div class="kv-custom-container">
    <div class="swiper lp-best-sellers__swiper" data-best-sellers-swiper="{{ section.id }}">
      <div class="swiper-wrapper">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% if block.type == 'product' %}
            {% assign product = all_products[block.settings.product] %}
            {% if product != blank %}

            {%- assign display_title = block.settings.custom_title | default: product.title -%}
            {%- assign display_badge = block.settings.custom_badge | default: section.settings.discount_badge_text -%}
            {%- assign display_image = block.settings.custom_image | default: product.featured_image -%}
            {%- assign display_rating = block.settings.custom_rating | default: '4.5/5' -%}
            {%- assign display_rating_count = block.settings.custom_rating_count | default: '0' -%}

            <div class="swiper-slide lp-best-sellers__slide">
            <div class="lp-best-sellers__card" {{ block.shopify_attributes }}>
              <div class="lp-best-sellers__image-container">
                <span class="lp-best-sellers__card-badge">{{ display_badge }}</span>

                <div class="lp-best-sellers__image-inner">
                  {% if display_image != blank %}
                    {{ display_image | image_url: width: 400 | image_tag: loading: 'lazy', class: 'lp-best-sellers__img' }}
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'lp-best-sellers__placeholder' }}
                  {% endif %}
                </div>
              </div>

              <div class="lp-best-sellers__content">
                <h3 class="lp-best-sellers__card-title">{{ display_title }}</h3>

                <div class="lp-best-sellers__price-row">
                  {% if product.compare_at_price > product.price %}
                    <span class="lp-best-sellers__price-original">{{ product.compare_at_price | money }}</span>
                    <span class="lp-best-sellers__price-current">{{ product.price | money }}</span>
                    {% assign discount_percentage = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round %}
                    <span class="lp-best-sellers__discount-tag">Save {{ discount_percentage }}%</span>
                  {% else %}
                    <span class="lp-best-sellers__price-current">{{ product.price | money }}</span>
                  {% endif %}
                </div>

                <div class="lp-best-sellers__review">
                  <span class="lp-best-sellers__rating-pill">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                      fill="none">
                      <path d="M2.68535 13.2506C2.52929 13.1315 2.43483 12.9734 2.40198 12.7762C2.36912 12.5832 2.39582 12.3594 2.48206 12.1048L3.73258 8.39018L0.541598 6.10475C0.319831 5.94459 0.163772 5.77826 0.0734229 5.60578C-0.0128199 5.42918 -0.0230868 5.24643 0.0426219 5.05752C0.104224 4.87271 0.221268 4.73514 0.393753 4.64479C0.566238 4.55444 0.788005 4.51131 1.05905 4.51542L4.97694 4.54006L6.16585 0.800825C6.24799 0.542097 6.35887 0.344971 6.49851 0.209447C6.63814 0.0698155 6.80446 0 6.99748 0C7.19461 0 7.36299 0.0698155 7.50262 0.209447C7.64225 0.344971 7.75313 0.542097 7.83527 0.800825L9.02419 4.54006L12.9359 4.51542C13.2111 4.51131 13.4349 4.55444 13.6074 4.64479C13.7799 4.73514 13.8969 4.87271 13.9585 5.05752C14.0242 5.24643 14.0119 5.42918 13.9215 5.60578C13.8353 5.77826 13.6813 5.94459 13.4595 6.10475L10.2685 8.39018L11.5191 12.1048C11.6053 12.3594 11.632 12.5832 11.5991 12.7762C11.5663 12.9734 11.4718 13.1315 11.3158 13.2506C11.1556 13.3697 10.977 13.4128 10.7798 13.3799C10.5868 13.3471 10.3815 13.2506 10.1638 13.0904L6.99748 10.768L3.8373 13.0904C3.61964 13.2506 3.41225 13.3471 3.21512 13.3799C3.0221 13.4128 2.84551 13.3697 2.68535 13.2506Z" fill="#E88400" />
                    </svg>
                    {{ display_rating }} ({{ display_rating_count }} Reviews)
                  </span>
                </div>

                <form method="post" action="/cart/add">
                  <input
                    type="hidden"
                    name="id"
                    value="{{ product.first_available_variant.id }}">
                  <button type="submit" class="lp-best-sellers__atc">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="21"
                      height="21"
                      viewBox="0 0 21 21"
                      fill="none">
                      <g clip-path="url(#clip0_23025_13665)">
                        <path d="M13.9107 15.6521C14.3719 15.6521 14.8143 15.8354 15.1404 16.1615C15.4666 16.4877 15.6498 16.93 15.6498 17.3913C15.6498 17.8525 15.4666 18.2949 15.1404 18.621C14.8143 18.9472 14.3719 19.1304 13.9107 19.1304C13.4494 19.1304 13.0071 18.9472 12.6809 18.621C12.3548 18.2949 12.1715 17.8525 12.1715 17.3913C12.1715 16.93 12.3548 16.4877 12.6809 16.1615C13.0071 15.8354 13.4494 15.6521 13.9107 15.6521ZM13.9107 16.5217C13.68 16.5217 13.4589 16.6133 13.2958 16.7764C13.1327 16.9394 13.0411 17.1606 13.0411 17.3913C13.0411 17.6219 13.1327 17.8431 13.2958 18.0061C13.4589 18.1692 13.68 18.2608 13.9107 18.2608C14.1413 18.2608 14.3625 18.1692 14.5255 18.0061C14.6886 17.8431 14.7802 17.6219 14.7802 17.3913C14.7802 17.1606 14.6886 16.9394 14.5255 16.7764C14.3625 16.6133 14.1413 16.5217 13.9107 16.5217ZM6.08458 15.6521C6.54582 15.6521 6.98818 15.8354 7.31433 16.1615C7.64048 16.4877 7.82371 16.93 7.82371 17.3913C7.82371 17.8525 7.64048 18.2949 7.31433 18.621C6.98818 18.9472 6.54582 19.1304 6.08458 19.1304C5.62333 19.1304 5.18098 18.9472 4.85483 18.621C4.52868 18.2949 4.34545 17.8525 4.34545 17.3913C4.34545 16.93 4.52868 16.4877 4.85483 16.1615C5.18098 15.8354 5.62333 15.6521 6.08458 15.6521ZM6.08458 16.5217C5.85396 16.5217 5.63278 16.6133 5.4697 16.7764C5.30663 16.9394 5.21501 17.1606 5.21501 17.3913C5.21501 17.6219 5.30663 17.8431 5.4697 18.0061C5.63278 18.1692 5.85396 18.2608 6.08458 18.2608C6.3152 18.2608 6.53638 18.1692 6.69945 18.0061C6.86253 17.8431 6.95414 17.6219 6.95414 17.3913C6.95414 17.1606 6.86253 16.9394 6.69945 16.7764C6.53638 16.6133 6.3152 16.5217 6.08458 16.5217ZM15.6498 5.21734H3.71067L5.92806 10.4347H13.0411C13.3281 10.4347 13.5802 10.2956 13.7368 10.0869L16.3454 6.60864C16.4585 6.46082 16.5194 6.27821 16.5194 6.0869C16.5194 5.85628 16.4277 5.6351 16.2647 5.47203C16.1016 5.30895 15.8804 5.21734 15.6498 5.21734ZM13.0411 11.3043H5.97154L5.30197 12.6608L5.21501 13.0434C5.21501 13.274 5.30663 13.4952 5.4697 13.6583C5.63278 13.8214 5.85396 13.913 6.08458 13.913H15.6498V14.7826H6.08458C5.62333 14.7826 5.18098 14.5993 4.85483 14.2732C4.52868 13.947 4.34545 13.5047 4.34545 13.0434C4.34519 12.7484 4.42 12.4581 4.56284 12.1999L5.18893 10.9217L2.0324 3.47821H0.867188V2.60864H2.60632L3.34545 4.34777H15.6498C16.111 4.34777 16.5534 4.531 16.8795 4.85715C17.2057 5.1833 17.3889 5.62566 17.3889 6.0869C17.3889 6.52169 17.2411 6.8869 16.9976 7.18256L14.4672 10.5652C14.1541 11.0086 13.6324 11.3043 13.0411 11.3043Z" fill="white" />
                      </g>
                      <defs>
                        <clipPath id="clip0_23025_13665">
                          <rect
                            width="20.8696"
                            height="20.8696"
                            fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    Add To Cart
                  </button>
                </form>

                {% assign has_features = false %}
                {% for i in (1..4) %}
                  {% assign title_key = 'feature_' | append: i | append: '_title' %}
                  {% if block.settings[title_key] != blank %}
                    {% assign has_features = true %}
                    {% break %}
                  {% endif %}
                {% endfor %}

                {% if has_features %}
                <details class="lp-best-sellers__accordion">
                  <summary class="lp-best-sellers__accordion-header">
                    See capabilities
                    <svg
                      class="lp-best-sellers__chevron"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none">
                      <path d="M4.86646 7.99178L9.58312 12.7084L14.2998 7.99178L13.7081 7.40845L9.58312 11.5334L5.45812 7.40845L4.86646 7.99178Z" fill="#41464B" />
                    </svg>
                  </summary>
                  <div class="lp-best-sellers__accordion-content">
                    <div class="lp-best-sellers__features">
                      {% for i in (1..4) %}
                        {% assign title_key = 'feature_' | append: i | append: '_title' %}
                        {% assign desc_key = 'feature_' | append: i | append: '_desc' %}
                        {% assign icon_key = 'feature_' | append: i | append: '_icon' %}
                        {% assign f_title = block.settings[title_key] %}
                        {% assign f_desc = block.settings[desc_key] %}
                        {% assign f_icon = block.settings[icon_key] %}
                        {% if f_title != blank %}
                          <div class="lp-best-sellers__feature">
                            <div class="lp-best-sellers__feature-icon">
                              {% if f_icon != blank %}
                                {{ f_icon | image_url: width: 34 | image_tag: loading: 'lazy', class: 'lp-best-sellers__feature-icon-img' }}
                              {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                                  <path d="M5.3956 14.7841L8.23636 9.84671L2.81226 9.2109L10.7248 2.09668H11.5097L8.60139 7.04674L14.0656 7.66919L6.15309 14.7834L5.3956 14.7841ZM7.39236 12.672L12.4416 8.19247L7.46762 7.63543L9.50869 4.18488L4.43625 8.67847L9.39264 9.27209L7.39236 12.672Z" fill="#003665" />
                                </svg>
                              {% endif %}
                            </div>
                            <div class="lp-best-sellers__feature-text">
                              <h2 class="featured-title">{{ f_title }}</h2>
                              <p class="featured-desc">{{ f_desc }}</p>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </details>
                {% endif %}
              </div>
            </div>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% else %}
        <div class="swiper-slide lp-best-sellers__slide">
          <div class="lp-best-sellers__empty">
            <p>No products added. Please add product blocks in the section settings.</p>
          </div>
        </div>
      {% endif %}
      </div>
    </div>
      </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var sectionEl = document.querySelector('#lp-best-sellers-{{ section.id }}');
    if (!sectionEl) return;

    var swiperEl = sectionEl.querySelector('[data-best-sellers-swiper]');
    var prevBtn = sectionEl.querySelector('.lp-best-sellers__nav-btn--prev');
    var nextBtn = sectionEl.querySelector('.lp-best-sellers__nav-btn--next');

    var bestSellersSwiper = new Swiper(swiperEl, {
      slidesPerView: 'auto',
      spaceBetween: 24,
      grabCursor: true,
      //initialSlide: 1,
      speed: 800,
      freeMode: {
        enabled: true,
        momentum: true,
        momentumRatio: 0.8,
      },
      breakpoints: {
        0: {
          spaceBetween: 16,
        },
        768: {
          spaceBetween: 20,
        },
        1024: {
          spaceBetween: 24,
        },
      },
    });

    if (prevBtn) {
      prevBtn.addEventListener('click', function () {
        bestSellersSwiper.slidePrev();
      });
    }
    if (nextBtn) {
      nextBtn.addEventListener('click', function () {
        bestSellersSwiper.slideNext();
      });
    }
  });
</script>

{% schema %}
  {
    "name": "KV Best Sellers",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Best sellers"
      }, {
        "type": "text",
        "id": "sub_header",
        "label": "Sub-heading",
        "default": "5,000+ sold in total"
      },       {
        "type": "text",
        "id": "discount_badge_text",
        "label": "Default Badge Text",
        "default": "Sale"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "header",
            "content": "Card Overrides"
          },
          {
            "type": "text",
            "id": "custom_title",
            "label": "Custom Title",
            "info": "Leave blank to use product title"
          },
          {
            "type": "image_picker",
            "id": "custom_image",
            "label": "Custom Image",
            "info": "Leave blank to use product image"
          },
          {
            "type": "text",
            "id": "custom_badge",
            "label": "Badge Text",
            "info": "Leave blank to use section default"
          },
          {
            "type": "text",
            "id": "custom_rating",
            "label": "Rating (e.g. 4.8/5)",
            "default": "4.5/5"
          },
          {
            "type": "text",
            "id": "custom_rating_count",
            "label": "Review Count",
            "default": "0"
          },
          {
            "type": "header",
            "content": "Capability 1"
          },
          {
            "type": "image_picker",
            "id": "feature_1_icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "feature_1_title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "feature_1_desc",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "Capability 2"
          },
          {
            "type": "image_picker",
            "id": "feature_2_icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "feature_2_title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "feature_2_desc",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "Capability 3"
          },
          {
            "type": "image_picker",
            "id": "feature_3_icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "feature_3_title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "feature_3_desc",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "Capability 4"
          },
          {
            "type": "image_picker",
            "id": "feature_4_icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "feature_4_title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "feature_4_desc",
            "label": "Description"
          }
        ]
      }
    ],
    "max_blocks": 12,
    "presets": [
      {
        "name": "KV Best Sellers",
        "settings": {
          "title": "Best sellers",
          "sub_header": "5,000+ sold in total"
        }
      }
    ]
  }
{% endschema %}