{{ 'lp-home-quick-links.css' | asset_url | stylesheet_tag }}

<footer class="kv-footer lp-footer" id="lp-footer-{{ section.id }}">
  <div class="kv-custom-container">
    <div class="lp-footer__main">
      <div class="lp-footer__brand-newsletter">
        <div class="lp-footer__brand">
          <svg xmlns="http://www.w3.org/2000/svg" class="lp-footer__logo" width="100" height="37" viewBox="0 0 100 37" fill="none">
            <g clip-path="url(#clip0_23025_14160)">
              <path d="M85.8293 18.0246C86.9649 18.0246 87.8854 17.1126 87.8854 15.9876C87.8854 14.8627 86.9649 13.9507 85.8293 13.9507C84.6937 13.9507 83.7732 14.8627 83.7732 15.9876C83.7732 17.1126 84.6937 18.0246 85.8293 18.0246Z" fill="#FD9308"/>
              <path d="M55.7392 17.9072C56.8495 17.9072 57.905 18.12 58.8965 18.5409C59.888 18.9619 60.7561 19.5413 61.4963 20.2746C62.2365 21.0079 62.8259 21.868 63.2646 22.8502C63.6986 23.8325 63.918 24.8872 63.918 26.0098C63.918 27.1324 63.6986 28.187 63.2646 29.1693C62.8259 30.1516 62.2411 31.0071 61.4963 31.7313C60.7561 32.4556 59.888 33.0259 58.8965 33.4514C57.905 33.8724 56.8495 34.0851 55.7392 34.0851C54.6289 34.0851 53.5415 33.8724 52.55 33.4514C51.5585 33.0305 50.6949 32.4556 49.9638 31.7313C49.2328 31.0071 48.6571 30.1561 48.2276 29.1693C47.8026 28.187 47.5879 27.1324 47.5879 26.0098C47.5879 24.8872 47.8026 23.8325 48.2276 22.8502C48.6525 21.868 49.2328 21.0079 49.9638 20.2746C50.6949 19.5413 51.5539 18.9619 52.55 18.5409C53.5415 18.12 54.6061 17.9072 55.7392 17.9072ZM55.7392 30.7083C56.3926 30.7083 57.014 30.5861 57.6034 30.3372C58.1928 30.0882 58.7 29.7532 59.1249 29.3323C59.5499 28.9113 59.888 28.4134 60.1393 27.843C60.3906 27.2727 60.514 26.6616 60.514 26.0098C60.514 25.3579 60.386 24.7469 60.1393 24.1629C59.888 23.579 59.5499 23.0766 59.1249 22.6556C58.7 22.2346 58.1928 21.8997 57.6034 21.6507C57.014 21.4017 56.3926 21.2795 55.7392 21.2795C55.0858 21.2795 54.4644 21.4063 53.875 21.6507C53.2856 21.8997 52.7739 22.2346 52.3352 22.6556C51.8966 23.0766 51.5539 23.579 51.3026 24.1629C51.0513 24.7469 50.9279 25.3625 50.9279 26.0098C50.9279 26.6571 51.0513 27.2681 51.3026 27.843C51.5539 28.4179 51.8966 28.9113 52.3352 29.3323C52.7693 29.7532 53.2856 30.0882 53.875 30.3372C54.4644 30.5861 55.0858 30.7083 55.7392 30.7083Z" fill="white"/>
              <path d="M87.5092 34.1124H84.1372V19.2925H87.5092V34.1124Z" fill="white"/>
              <path d="M45.4777 22.8499C45.0528 21.8676 44.4679 21.0076 43.7277 20.2743C42.9875 19.541 42.1194 18.9616 41.1279 18.5406C40.1364 18.1196 39.0718 17.9069 37.9386 17.9069C37.267 17.9069 36.6227 17.9838 36.0013 18.1287C35.9922 18.1287 35.9831 18.1287 35.9739 18.1287C35.5536 18.2328 35.1423 18.3641 34.7448 18.5361C34.6169 18.5904 34.4935 18.6538 34.3702 18.7172V22.8273C34.425 22.7684 34.4752 22.7096 34.5301 22.6553C34.9641 22.2343 35.4805 21.8993 36.0699 21.6504C36.5039 21.4648 36.9609 21.3516 37.4315 21.3018C37.596 21.2882 37.7605 21.2747 37.9386 21.2747C38.592 21.2747 39.2089 21.4014 39.7891 21.6458C40.3649 21.8948 40.872 22.2343 41.3107 22.6688C41.7447 23.1034 42.092 23.6058 42.3433 24.1762C42.5306 24.6017 42.6449 25.0498 42.6951 25.516C42.7134 25.679 42.7225 25.842 42.7225 26.0049C42.7225 26.6522 42.5946 27.2633 42.3479 27.8382C42.3296 27.8834 42.3067 27.9242 42.2839 27.9649C42.0417 28.4809 41.7219 28.9381 41.3244 29.3365C40.8994 29.7529 40.3968 30.0879 39.812 30.3323C39.2226 30.5813 38.6012 30.7035 37.9478 30.7035C37.2944 30.7035 36.673 30.5813 36.0836 30.3323C35.6541 30.1512 35.2657 29.9204 34.9185 29.6488C34.7997 29.5537 34.69 29.4496 34.5803 29.3455C34.1417 28.9155 33.799 28.413 33.5477 27.8382C33.2964 27.2678 33.173 26.6567 33.173 26.0049V13.7832H29.769V26.0049C29.769 27.1275 29.9838 28.1822 30.4087 29.1644C30.8337 30.1467 31.4185 31.0068 32.1587 31.7401C32.8989 32.4734 33.767 33.0528 34.7585 33.4737C35.75 33.8947 36.8146 34.1075 37.9478 34.1075C39.0809 34.1075 40.1455 33.8947 41.137 33.4737C42.1285 33.0528 42.9967 32.4734 43.7369 31.7401C44.4771 31.0068 45.0619 30.1467 45.4869 29.1644C45.9118 28.1822 46.1265 27.1275 46.1265 26.0049C46.1265 24.8823 45.9118 23.8276 45.4869 22.8454L45.4777 22.8499Z" fill="white"/>
              <path d="M89.4597 22.6636H91.7854V19.2913H89.4597V22.6636Z" fill="white"/>
              <path d="M98.1365 30.3686C97.5471 30.1197 97.0353 29.7802 96.5967 29.3456C96.1581 28.9156 95.8154 28.4041 95.5641 27.8202C95.3128 27.2363 95.1894 26.6207 95.1894 25.9734V22.6644H98.5294V19.2922H95.1894V13.9463H91.7854V26.1363C91.8082 27.2363 92.0413 28.2774 92.489 29.2461C92.9368 30.2193 93.5308 31.0612 94.271 31.7764C95.0112 32.4916 95.8748 33.0574 96.8571 33.4784C97.8395 33.8994 98.8858 34.1121 99.9961 34.1121V30.7398C99.3427 30.7398 98.7213 30.6176 98.1319 30.3686H98.1365Z" fill="white"/>
              <path d="M69.2077 17.9074V13.9512H65.8037V26.1412C65.8266 27.2411 66.0596 28.2823 66.5074 29.2509C66.9551 30.2241 67.5491 31.0661 68.2893 31.7813C69.0295 32.4965 69.8931 33.0623 70.8754 33.4833C71.8578 33.9042 72.9041 34.117 74.0144 34.117V30.7447C73.3611 30.7447 72.7397 30.6225 72.1502 30.3735C71.5608 30.1246 71.0491 29.7851 70.6104 29.3505C70.1718 28.9205 69.8291 28.409 69.5778 27.8251C69.3265 27.2411 69.2031 26.6255 69.2031 25.9782V21.2797" fill="white"/>
              <path d="M77.4235 17.9069V13.9507H74.0195V26.1407C74.0424 27.2407 74.2754 28.2818 74.7232 29.2505C75.1709 30.2237 75.7649 31.0656 76.5051 31.7808C77.2453 32.496 78.1089 33.0618 79.0913 33.4828C80.0736 33.9038 81.12 34.1165 82.2303 34.1165V30.7442C81.5769 30.7442 80.9555 30.622 80.3661 30.373C79.7766 30.1241 79.2649 29.7846 78.8263 29.35C78.3876 28.92 78.0449 28.4085 77.7936 27.8246C77.5423 27.2407 77.419 26.625 77.419 25.9777V21.2792" fill="white"/>
              <path d="M12.7937 28.5988C13.4745 28.5988 14.1599 28.4811 14.763 28.1688C16.8876 27.0824 17.8015 24.8055 17.1161 22.669C16.6226 21.1254 15.2702 19.9576 13.6618 19.6588C12.0535 19.3601 10.6416 19.8444 9.57704 20.8946C8.71347 21.7456 8.23828 22.8817 8.23828 24.0858C8.23828 26.5211 10.2396 28.5445 12.6978 28.5943C12.7297 28.5943 12.7617 28.5943 12.7937 28.5943V28.5988Z" fill="white"/>
              <path d="M24.5774 19.1564C23.9331 17.6491 23.0101 16.2911 21.8359 15.1278C20.6616 13.9645 19.2954 13.0546 17.7694 12.4119C16.5722 11.9094 15.3157 11.5971 14.0272 11.4749V4.70312L9.37129 7.12031V16.8434C9.67285 16.703 9.97898 16.5808 10.2943 16.4812C10.4496 16.4314 10.6095 16.3862 10.7694 16.3454C11.0756 16.2685 11.3863 16.2051 11.7015 16.1644C11.7015 16.1644 11.7015 16.1644 11.7015 16.1689C12.0579 16.1191 12.4189 16.0965 12.789 16.0965C17.2439 16.0965 20.8581 19.6725 20.8581 24.0904C20.8581 28.5083 17.2485 32.0843 12.789 32.0843C11.2538 32.0843 9.81449 31.6588 8.59454 30.9209C7.43398 30.2148 6.46075 29.228 5.77995 28.0556C5.77538 28.0466 5.77081 28.0375 5.76624 28.0285C5.75711 28.0149 5.75254 28.0013 5.7434 27.9923C5.16312 26.9647 4.80673 25.8014 4.73362 24.5566C4.73362 24.5566 4.73362 24.5566 4.72905 24.5566C4.71991 24.4027 4.71534 24.2488 4.71534 24.0949V9.37001L0.0593987 11.7057V22.8501C0.0182765 23.262 0 23.6739 0 24.0949C0 25.8014 0.338116 27.4627 1.00521 29.0288C1.64946 30.5362 2.57242 31.8942 3.74669 33.0575C4.92095 34.2208 6.28713 35.1306 7.81321 35.7734C9.39413 36.4343 11.071 36.7693 12.7936 36.7693C14.5161 36.7693 16.193 36.4343 17.7739 35.7734C18.8934 35.3027 19.9305 34.687 20.8672 33.9311V33.999L21.1916 33.6595C21.4155 33.4694 21.6303 33.2657 21.8404 33.0575C23.0147 31.8942 23.9331 30.328 24.5819 28.8161C25.249 27.2499 25.5871 25.8014 25.5871 24.0949C25.5871 22.3884 25.249 20.7271 24.5819 19.161L24.5774 19.1564Z" fill="#FD9308"/>
              <path d="M14.0295 2.94226V0L9.37354 2.41718V5.2146L14.0295 2.94226Z" fill="#FD9308"/>
              <path d="M4.71374 7.49108V4.6665L0.0532227 7.00221V9.76794L4.71374 7.49108Z" fill="#FD9308"/>
            </g>
            <defs>
              <clipPath id="clip0_23025_14160">
                <rect width="100" height="36.7647" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <div class="lp-footer__description">
            {{ section.settings.description }}
          </div>
        </div>

        <div class="lp-footer__newsletter">
          <div class="lp-footer__newsletter-content">
            <h3 class="lp-footer__newsletter-title">{{ section.settings.newsletter_title }}</h3>
            <p class="lp-footer__newsletter-desc">{{ section.settings.newsletter_desc }}</p>
            
            {%- form 'customer', class: 'lp-footer__form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="lp-footer__input-wrapper">
                <input
                  type="email"
                  name="contact[email]"
                  class="lp-footer__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  placeholder="{{ section.settings.email_placeholder }}"
                  required
                >
                <button type="submit" class="lp-footer__submit" name="commit">
                  {{ section.settings.subscribe_button_text }}
                </button>
              </div>
              {%- if form.errors -%}
                <small class="lp-footer__form-message lp-footer__form-message--error">{{ form.errors.translated_fields.email | capitalize }} {{ form.errors.messages.email }}</small>
              {%- endif -%}
              {%- if form.posted_successfully? -%}
                <small class="lp-footer__form-message lp-footer__form-message--success">{{ 'newsletter.success' | t }}</small>
              {%- endif -%}
            {%- endform -%}
          </div>
        </div>
      </div>

      <div class="lp-footer__nav">
        {%- for block in section.blocks -%}
          <div class="lp-footer__col" {{ block.shopify_attributes }}>
            <h4 class="lp-footer__col-title">{{ block.settings.title }}</h4>
            <ul class="lp-footer__col-list">
              {%- if block.settings.menu != blank -%}
                {%- for link in block.settings.menu.links -%}
                  <li><a href="{{ link.url }}" class="lp-footer__link">{{ link.title }}</a></li>
                {%- endfor -%}
              {%- elsif block.settings.custom_content != blank -%}
                <li><span class="lp-footer__link">{{ block.settings.custom_content }}</span></li>
              {%- endif -%}
            </ul>
          </div>
        {%- endfor -%}
      </div>
    </div>

    <div class="lp-footer__bottom">
      <div class="lp-footer__legal">
        {%- if section.settings.terms_url != blank -%}
          <a href="{{ section.settings.terms_url }}" class="lp-footer__legal-link">Terms of Service</a>
        {%- endif -%}
        {%- if section.settings.privacy_url != blank -%}
          <a href="{{ section.settings.privacy_url }}" class="lp-footer__legal-link">Privacy Policy</a>
        {%- endif -%}
      </div>
      <p class="lp-footer__copyright">© {{ section.settings.copyright_text }} {{ 'now' | date: '%Y' }}</p>
    </div>
  </div>

  {%- if section.settings.show_background_graphic -%}
    <div class="lp-footer__graphic">
      <svg xmlns="http://www.w3.org/2000/svg" width="271" height="389" viewBox="0 0 271 389" fill="none">
      <g opacity="0.04">
        <path d="M135.501 302.561C142.712 302.561 149.971 301.315 156.359 298.011C178.861 286.518 188.54 262.43 181.281 239.826C176.055 223.496 161.73 211.141 144.696 207.98C127.662 204.82 112.708 209.944 101.433 221.054C92.2866 230.057 87.2538 242.077 87.2538 254.815C87.2538 280.58 108.45 301.986 134.485 302.513C134.824 302.513 135.163 302.513 135.501 302.513V302.561Z" fill="white"/>
        <path d="M260.305 202.665C253.482 186.718 243.706 172.352 231.269 160.044C218.833 147.737 204.363 138.111 188.2 131.311C175.521 125.995 162.213 122.691 148.566 121.398V49.7567L99.2538 75.3292V178.194C102.448 176.71 105.69 175.417 109.029 174.363C110.674 173.836 112.368 173.357 114.062 172.926C117.304 172.112 120.595 171.442 123.934 171.011C123.934 171.011 123.934 171.011 123.934 171.059C127.709 170.532 131.532 170.292 135.452 170.292C182.635 170.292 220.913 208.124 220.913 254.864C220.913 301.603 182.683 339.435 135.452 339.435C119.192 339.435 103.948 334.934 91.027 327.128C78.7352 319.657 68.4275 309.217 61.217 296.814C61.1686 296.719 61.1202 296.623 61.0718 296.527C60.975 296.383 60.9266 296.24 60.8298 296.144C54.6839 285.273 50.9093 272.966 50.135 259.796C50.135 259.796 50.135 259.796 50.0866 259.796C49.9898 258.168 49.9414 256.54 49.9414 254.912V99.1299L0.629107 123.84V241.742C0.193571 246.1 0 250.458 0 254.912C0 272.966 3.58107 290.541 10.6464 307.11C17.4698 323.057 27.2452 337.424 39.6821 349.731C52.1191 362.039 66.5886 371.664 82.7518 378.465C99.4957 385.456 117.256 389 135.5 389C153.744 389 171.504 385.456 188.248 378.465C200.104 373.484 211.09 366.971 221.01 358.974V359.692L224.446 356.1C226.817 354.089 229.092 351.934 231.318 349.731C243.755 337.424 253.482 320.854 260.354 304.86C267.419 288.29 271 272.966 271 254.912C271 236.858 267.419 219.283 260.354 202.713L260.305 202.665Z" fill="white"/>
        <path d="M148.605 31.1276V0L99.2931 25.5726V55.1678L148.605 31.1276Z" fill="white"/>
        <path d="M49.9399 79.2518V49.3692L0.57921 74.0798V103.34L49.9399 79.2518Z" fill="white"/>
      </g>
    </svg>
    </div>
  {%- endif -%}
</footer>

{% schema %}
{
  "name": "Quick Links Footer",
  "settings": [
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Bollit builds powerful, chemical-free cleaning systems made for real homes. Designed for performance."
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "get 10% off"
    },
    {
      "type": "text",
      "id": "newsletter_desc",
      "label": "Newsletter Description",
      "default": "Sign up for expert advice on cleaning, healthy home"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email Placeholder",
      "default": "E-mail"
    },
    {
      "type": "text",
      "id": "subscribe_button_text",
      "label": "Button Text",
      "default": "Subscribe"
    },
    {
      "type": "url",
      "id": "terms_url",
      "label": "Terms of Service Link"
    },
    {
      "type": "url",
      "id": "privacy_url",
      "label": "Privacy Policy Link"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright Text",
      "default": "Bollit."
    },
    {
      "type": "checkbox",
      "id": "show_background_graphic",
      "label": "Show Background Graphic",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Link Column",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Column Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "textarea",
          "id": "custom_content",
          "label": "Custom Content (e.g. Email)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quick Links Footer",
      "blocks": [
        {
          "type": "column",
          "settings": {
            "title": "Products"
          }
        },
        {
          "type": "column",
          "settings": {
            "title": "Quick Links"
          }
        },
        {
          "type": "column",
          "settings": {
            "title": "Contact",
            "custom_content": "helpbollit@gmail.com"
          }
        }
      ]
    }
  ]
}
{% endschema %}